numpy
pandas
sklearn
pydot
graphviz
seaborn
matplotlib
scikit-image
opencv-python
flask
streamlit
keras
tensorflow
mtcnn
torch
ultralytics
xgboost
mlflow
transformers
diffusers
langchain
gcloud
google-cloud-vision